@using Jdenticon.AspNet.Mvc
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- HEADER -->
    <nav class="navbar navbar-expand-sm fixed-top border-bottom bg-white h-7 ">
        <div class="container d-block">
            <div class="row gy-3 flex-md-nowrap">
                <div class="col-12 col-md-4 col-lg-3 d-flex align-items-center">
                    <button type="button" class="btn btn-default p-0" id="SideBarHandler">
                        <img src="~/Content/Icons/HambugerMenu.svg" width="40" height="40" />
                    </button>
                    <img src="~/Content/Images/asean-logo.png" style="width: 8rem;" alt="LOGO">
                    <a href="#" class="navbar-brand fs-1">ASEAN</a>
                </div>
                <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
                    <div class="dropdown">
                        <button type="button" class="btn btn-dark dropdown-toggle" id="categoryDropDown" data-bs-toggle="dropdown" aria-expanded="false">
                            Categories
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="categoryDropDown">
                            <li><a class="dropdown-item" href="#">Provincial</a></li>
                            <li><a class="dropdown-item" href="#">Provincial</a></li>
                            <li><a class="dropdown-item" href="#">Provincial</a></li>
                            <li><a class="dropdown-item" href="#">Provincial</a></li>
                        </ul>
                    </div>
                    <form class="w-100">
                        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                    </form>
                </div>
                <div class="col-3 d-none d-md-flex align-items-center justify-content-end">
                    <img src="~/Content/Icons/Bell.svg" width="40" height="40" />
                    <div class="ms-4 d-inline-flex flex-column align-content-center" style="height: auto;">
                        
                        <button type="button" class="border-0 rounded-circle btn btn-default">
                            @Html.Identicon("Value to be hashed", size: 50, alt: "Icon")
                        </button>

                        <p class="smallest-text m-0 text-center ">James</p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- END OF HEADER -->
    @RenderBody()

    <!-- FOOTER -->
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <div class="row">
                <img src="~/Content/Images/asean-logo.png" class="col-3" style="width: auto; height: 9rem;" alt="LOGO">
                <ul class="col-4 row">
                    <h4 class="text-muted">External Links</h4>
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">Services</a>
                    <a href="#">My Account</a>
                    <a href="#">FAQ</a>
                </ul>
                <span class="text-muted col-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, illo nam quidem pariatur necessitatibus nobis ea quo fugiat assumenda asperiores fugit nesciunt totam ducimus reiciendis est iste hic cumque autem corporis id ad eos animi. Laudantium cumque recusandae odit nihil?</span>
            </div>
        </div>
    </footer>
    <!-- END OF FOOTER -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
